@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.background-runner {
  max-width: 850px;
  margin: 0 auto;
  height: 100vh;
  background-color: #f8f1f1;
}
.main-container {
  color: #444444;
  padding: 30px 30px;
}

.recipe-name {

  font-family: 'Poppins', sans-serif;
  padding: 0px;
  color: #eb5e0b
}

.recipe-top {
  padding: 30px 30px 50px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

.recipe-column-names {
  padding-bottom: 15px;
  color: #5eaaa8;
}

.ingredient-instructions {
  text-align: left;
}

.ingrdt-instrcs-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

.instructions-div {
  padding-top: 100px;
  
}

