@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
//place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#top-bar-color {
  background-color: #F8F1F1;
}
#top-bar-colors {
  background-color: #F8F1F1;
}

#hideToggle {
  display: none;
  color: #5EAAA8;
}

.lunch-nav {
  color: #5EAAA8;
  font-family: poppins, sans-serif; 
}

.icon {
  color: #5EAAA8;
}
