@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
//place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-image: url(https://i.pinimg.com/originals/73/92/df/7392dff05a946f7f6bdbcd48dfc20755.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 50px 0 0 0;
  padding: 0;
}

hr {
  border-top: 1px solid #555;
  margin: 4rem auto 0 auto;
  width: 85%;
}

.background-runner {
  position: relative;
  max-width: 850px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgba(248, 241, 241, .8);
}


.top-bar {
  position: absolute;
  top: 0px;
  width: 100%;
  float: left;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
  max-width: fit-content;
  font-family: 'Poppins', sans-serif; 
}

#top-bar-color {
  background-color: #F8F1F1;
  z-index: 99999;
}

#top-bar-colors {
  background-color: #F8F1F1;
}

#hideToggle {
  display: none;
  color: #5EAAA8;
}

.icon {
  color: #5EAAA8;
}

a:visited, a:focus, a:active {
  text-decoration: none;
  color: #5EAAA8;
}

a:hover {
  text-decoration: none;
  color: #A3D2CA;
}

.main-container {
  color: #333;
  padding: 30px 50px;
}

.recipe-form {
   width: 75%;
   margin: 0 auto;
}

.form-container {
  min-width: 270px;
  width: 30vw;
  max-width: 500px;
  margin: 0 auto;
}

.input {
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.recipe-name, .review-name, h1 {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  color: #eb5e0b;
  font-size: 3.5rem;
  text-shadow: 0 2px 10px rgb(255, 255, 255);
  margin-top: 5px;
}

.review-name {
  font-size: 1.5rem;
}

.recipe-top {
  padding: 25px 30px 30px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

.recipe-column-names {
  padding: 0 5px 15px 0;
  color: #5eaaa8;
}

.ingredient-instructions {
  text-align: left;
}

.ingrdt-instrcs-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  text-decoration: underline;
}

.instructions-div {
  padding-top: 100px;
}

.rec-img-large {
  margin: 0 auto 30px auto;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn {
  --background-hue: 0;
  --background-saturation: 0%;
  --initial-background-lightness: 90%;
  --background-lightness: var(--initial-background-lightness);
  --border-lightness: calc(var(--initial-background-lightness) - 5%);
  background-color: hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--background-lightness)
  );

  border: 1px solid hsl(
      var(--background-hue),
      var(--background-saturation),
      var(--border-lightness)
  );
  
  outline: none;
  cursor: pointer;
  padding: .5em 1em;;
  border-radius: 8px;
  width: 75%;
  max-width: 180px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.btn-primary, #btn-sign {
  --background-hue: 185;
  --background-saturation: 35%;
  --initial-background-lightness: 59%;
  color: #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: hsl(185, 40%, 42%);
  box-shadow: 0 0 3px 0 hsl(170, 20%, 30%);
} 

.rec-tile-container, .rev-tile-container {
  padding: 20px;
  margin: 30px auto 60px auto;
  max-width: 100%;
  width: 800px;
  font-family: 'Poppins', sans-serif;
}

.rev-tile-container {
  margin: 0px auto 0px auto;
  width: 700px;
}

.recipe {
  display: flex;
  background-color: #F8F1F1;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.rec-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  flex: 1;
} 

.rec-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rec-details {
  padding: 30px; 
  flex: 2;
  position: relative;
}

.rec-title {
  font-size: 2rem;
  margin: 0 0  20px;
  color:#5EAAA8;
  text-shadow: 0 1px 10px #ffefef;
}

.rec-text {
  margin-bottom: 5px;
}

.rec-info {
  display: flex;
  list-style: none;
  padding: 0; 
  margin: 20px auto 0 auto;
}

.rec-info li {
  font-size: .8em;
  font-weight: 300;
  margin-right: 10%;
}

.rec-info li strong {
  color: #5EAAA8;
  display: block;
  font-size: 1.1em;
}

 .rec-btn {
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding: 13px 25px;
  width: 150px;
  font-size: .8rem;
  text-transform: uppercase;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

#btn-sign, #sign-in-menu, .sign-out-btn {
  padding: 10px 20px;
  font-size: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  background-color: #eb5e0b;
  border-radius: 8px;
  margin: 0 5px 0 0; 
  outline: none;
}

.sign-out-btn {
  border-radius: 8px;
  color:#e6e6e6;
}

.sign-out-btn:hover, #btn-sign:hover {
  background-color: hsl(22, 97%, 40%);
  box-shadow: 0 0 3px 0 hsl(10, 77%, 30%);
}

#sign-in-menu {
  background-color: #e6e6e6;
  color: #eb5e0b;
  padding: 0;
  max-width: 200px;
}

#sign-in-button {
  color: #eb5e0b;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 9px; 
}

#sign-in-button:hover {
  background-color: #d7d6d6;
}

.menu {
  border-radius: 8px;
}

.menu:hover {
  background-color: #d7d6d6;
}

.chef-hat {
  height: 50px;
}

.review-title-container {
  display: flex;
  justify-content:space-around;
  max-width: 650px;
  margin: 40px auto 0 auto;
}

.review-title {
  margin: 0;
  font-size: 1.25rem;
  padding: 5px 15px 5px 0;
  color:  #5EAAA8;
  text-shadow: 0 1px 10px #ffefef;
  font-family: 'Poppins', sans-serif;
}

.rev-text {
  font-size: .85rem;
  font-family: Arial, Helvetica, sans-serif
}

#star {
  color:#eb5e0b;
}

.long-text {
  white-space: pre-line;
}